absl-py==0.7.1
astor==0.7.1
backports.functools-lru-cache==1.5
backports.weakref==1.0.post1
certifi==2016.2.28
cffi==1.11.5
chardet==3.0.4
cycler==0.10.0
demjson==2.2.4
enum34==1.1.6
filelock==3.0.10
foolnltk==0.1.6
funcsigs==1.0.2
futures==3.2.0
gast==0.2.2
grpcio==1.20.1
h5py==2.9.0
idna==2.8
Keras-Applications==1.0.7
Keras-Preprocessing==1.0.9
kiwisolver==1.0.1
Markdown==3.1
matplotlib==2.2.4
matplotlib-venn==0.11.5
mock==3.0.2
numpy==1.16.3
pandas==0.24.2
protobuf==3.7.1
pycparser==2.19
pyltp==0.2.1
pyparsing==2.4.0
python-dateutil==2.8.0
pytz==2019.1
requests==2.21.0
scikit-learn==0.20.3
scipy==1.2.1
six==1.12.0
sklearn==0.0
subprocess32==3.5.3
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
urllib3==1.24.2
Werkzeug==0.15.2
xattr==0.9.6
